body {
    background-color: rgb(252, 212, 250);
    background-image: url('images/aboutus.png'); 
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-decoration: underline;
    padding: 7px;
    text-align: center;
    color: black;
    margin-bottom: 30px; 
}

main {
    padding: 20px;
    margin-top: 40px;
    text-align: left; 
}

section {
    margin-right: 35%; 
}

footer {
    background-color: rgb(255, 109, 250);
    color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

p { 
    margin-bottom: 15px; 
}